@model IEnumerable<SettlementDto>

@{
    var controllerInfo = new ControllerInfo
            {
                ControllerName = ViewBag.ControllerName,
                ViewActionName = ViewBag.ViewActionName,
                CreateActionName = ViewBag.CreateActionName,
                DeleteActionName = ViewBag.DeleteActionName,
                UpdateActionName = ViewBag.UpdateActionName,
            };

    var paginationModel = new TablePagination
            {
                ControllerInfo = controllerInfo,
                CurrentPage = ViewBag.CurrentPage,
                PageSize = ViewBag.PageSize,
                TotalSize = ViewBag.TotalSize,
                HaveNext = ViewBag.HaveNext,
                HavePrev = ViewBag.HavePrev,
            };

    var tableHelperModel = new TableHelper
            {
                ControllerInfo = controllerInfo,
                TableTitle = "Settlement List",
                EntityName = "Settlement",
            };
}

@section Styles {
    <link rel="stylesheet" href="~/scss/Settlement/index.min.css" asp-append-version="true" />
}


@await Html.PartialAsync("_EntityTableHelperPartial", tableHelperModel)

<table class="entityTable">
    <thead>
        <tr>
            <th>Title</th>
            <th>Delete action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var settlement in Model)
        {
            <tr>
                @{
                    var popUpId = $"delete-settlement-{settlement.Id}";
                    var deleteEntityModel = new DeleteEntity
                            {
                                ControllerInfo = controllerInfo,
                                Id = settlement.Id,
                                PopUpId = popUpId,
                                ItemName = settlement.Title,
                            };
                }
                <td>@settlement.Title</td>
                <td>
                    <button class="defaultButton" onclick="openModal('@popUpId')">
                        Delete
                    </button>
                    <div id="@popUpId" style="display: none; position: absolute;">
                        @await Html.PartialAsync("_DeleteEntityConfirmPopUpPartial", deleteEntityModel)
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@await Html.PartialAsync("_EntityTablePaginationPartial", paginationModel)
